body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

nav {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to top, #034b45e5,  #07a799e5);
  display: flex;
  justify-content: center;  
}

nav ul {
  margin: 0px;
  padding: 0px;  
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  box-sizing: border-box;
  padding: 10px 15px 10px 15px;
  border: 3px solid #034b45e5;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
}

nav ul li:hover{
  border-bottom: 3px solid rgb(245, 242, 242);
}

nav ul li a {
  font-size: 1.2em;
  text-decoration: none;
  color: white; 
  padding: 0px 20px;
  
}
nav ul li a:hover{
  color: white;
}

header {
  text-align: center;
}

header h1 {
  font-weight: bold;
}

section {
  width: 1000px;
  background-color: lightgrey;
  margin: 80px auto;
  padding: 30px; 
  border-radius: 15px;
  
}

section .content {
 padding: 10px 30px 10px 30px;
 display: flex;
}

#footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background: linear-gradient(  180deg, #033b37e5, #0f6e66e5);
  display: flex;
  justify-content: center; 
}



